<div class="body">
    <div id="content">
        <div>
            <div>
                {{#with recipe}}
                <h3>{{dataValues.title}}</h3>
                <p>
                   {{dataValues.description}}
                </p>
                <a href="/"><img src="{{dataValues.bigImagePath}}" alt="Image"></a>
                <h5>INGREDIENTS</h5>
                <ol class="ingredients">
                    {{#each Ingredients}} 
                    <li>
                        {{dataValues.quantity}} {{dataValues.title}}
                    </li>
                    {{/each}}
                </ol>
                <h5>DIRECTIONS</h5>
                <ol class="directions">
                    {{#each Directions}}
                    <li>
                       {{dataValues.description}}
                    </li>
                    {{/each}}
                </ol>
                {{/with}}
            </div>
        </div>
    </div>
</div>